# Default ignored files
/shelf/
/workspace.xml

#python
__pycache__
*.py[cod]
*$py.class

.gradle/
build/
bin/

.venv/*
venv/*
.vscode/*

binder_trace-parse-log*
binder_trace-log*

.tox-info.json

.tox/*

*.egg-info/*